<h1>One month rails project</h1>

<% if user_signed_in? %>

<p>Welcome back <%= current_user.name %> to my OMR project</p>
<p>Your user ID is <%= current_user.id %>! </p>
<p>Follow me on <%= link_to "Twitter", "http://twitter.com/chad_jemmett" %></br>
<%= link_to "Create a new pin", new_pin_path %>
<% else %>
<p>

You've found my home page for my <%= link_to "One Month Rails", "http://onemonthrails.com" %> project.

</p>

<p>

<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary" %>
<% end %>
