<!DOCTYPE html>
<html>
<head>
  <title>Omrails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

    <div class="container">
  <%= render 'layouts/header' %>
      <%= yield %>
     <!-- just a test button -->
     <%= link_to "Go to Twitter", "http://twitter.com", class: "btn btn-large btn-danger" %>
  <%= render 'layouts/footer' %>
    </div>

</body>
</html>
